#main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1200px;
    height: 80px;
}

#menu {
    width: 150px;
    margin-top: 10px;
    float: left;
}

#content {
    width: 1050px;
    margin-top: 10px;
    float: right;
}

.message {
    color: #ff0000;
}

.menubutton {
    width: 120px;
    margin-bottom: 5px;
    text-align: center;
}

.cmdbutton {
    width: 80px;
    height: 25px;
    margin-right: 5px;
}

.dashed_line {
    border: none;
    border-top: dashed 1px #c0c0c0;
    height: 1px;
}

.status_header {
    width: 80px;
    font-weight: bold;
    text-align: center;
    background-color: #f0f8ff;
}

.status_value {
    width: 80px;
    text-align: center;
}

.reference_header {
    width: 80px;
    font-weight: bold;
    background-color: #f0f8ff;
}

.reference_value {
    width: 100px;
}

.line_header {
    width: 80px;
    font-weight: bold;
    background-color: #f0f8ff;
}

.line_value {
    width: 400px;
}

